<% if current_user %>
  <%total = 0%>
   <br>
   <%@cart.items.each do |item|%>
   <br>
    <div class="cart">
      <div id="name">
        <h3><%=item.name%></h2>
      </div>
      <div id="price">
        <h3>$<%=item.price%></h2>
      </div>
      <div id="remove">
        <h3><%= link_to "Remove", remove_from_cart_item_path(item), method: :delete%></h3>
      </div>
    </div>
    <%total += item.price%>
  <%end%>

  <div class="total">
    <h2>total: $ <%=total%></h2>
  </div>

  <button class="checkout"><span><%= link_to "Checkout", new_cart_path %></span></button>

<%else%>
  <% flash[:alert] = "You have to be logged in to view your cart"%>
<%end%>
